.github/*
AntennaTracker/*
APMrover2/*
ArduCopter/*
ArduPlane/*
ArduSub/*
benchmarks/*
build/*
docs/*
libraries/*
mk/*
modules/*
tests/*
Tools/*
.dir-locals.el
.editorconfig
.gitattributes
.gitmodules
.pydevproject
.travis.yml
BUILD.md
COPYING.txt
Doxyfile.in
eclipse.cproject
eclipse.project
Makefile
Makefile.waf
README.md
reformat.sh
start.sh
uncrustify_cpp.cfg
uncrustify_headers.cfg
Vagrantfile
waf
wscript

!Tools/scripts/install-prereqs-ubuntu.sh